container {
    flex-grow: 1;
}

bottom{
    justify-content: flex-end;
}

bottom .text{
    margin-left: -10px;
}

centralizador{
    position: relative;
    align-items: center;
    justify-content: center;
}

text{
    font-size: 11;
}

card{
    margin: 5px;
    border-radius: 5px;
}

bugbox{
    width: 10%;
    height: 5%;
}

horizontal{
    flex-direction: row;
    align-items: center;
}

horizontalcleaning{
    justify-content: start;
    margin-left: 10px;
}

icon{
    width: 25px;
    height: 25px;
}